<h1>Biography</h1>
<img class="align-right" src="https://s3.amazonaws.com/bethpattersonart/misc/beth+headshot.jpg"' alt="some text" />

<section id="about">
	<h3>About the Artist</h3>
	<p>Beth Patterson is an Art Teacher at Crestwood Elementary School in Springfield, Virginia. She has been an art teacher in Virginia since 2000. She has been producing sculpted silver jewelry and various styles of prints since starting the Masters of Interdisciplinary Studies program. She also has produced several oil paintings over the years. In the last few years, she has focused on repetative patterns that were inspired by the octopus. This theme can be seen running through her later works in all mediums.</p>
</section>

<section id ="exhibitions">
	<h3>Exhibitions</h3>
	
	<h4>2013 - Accidental Octopus</h4>
	Masters of Interdisciplinary Studies Art Thesis Exhibition<br>
	Ernst Cultural Center<br>
	Annandale, Virginia
	
	<h4>2011 - The Power of Color III</h4>
	Gallery West<br>
	Alexandria, Virginia
</section>

<section id="education">
  <h3>Education</h3>
  
	<h4>1999 - Bachelors of Science in Art Education</h4>
  Radford University<br>
  Radford, Virginia 

  <h4>2013 - Masters of Interdisciplinary Studies Art</h4>
  Focusing in Printmaking and Jewelry<br>
  Virginia Commonwealth University<br>
  Richmond, Virginia
</section>