<h1>Prints</h1>
<div class="sellables">
<% @prints.each_with_index do |image, idx| %>
  <%= render :partial => 'components/sellable', :locals => { :index => idx, :src => image[:img], :price => image[:price], :name => image[:name], :subtext => image[:subtext] } %>
<% end %>