<% 
  @start_row = index % 3 == 0
  @close_row = (index + 1) % 3 == 0
%>

<% if @start_row %>
  <div class="row-fluid">
<% end %>

<div class="span4 painting">
  <img src=<%= src %> alt=""/>
  <section class="summary">
    <h3><%= name %></h3>
    <p><em><%= subtext %></em></p>
  </section>
  
  <section class="pricing">
    <p>$<%= price %> USD</p>
  </section>
</div>

<% if @close_row %>
  </div>
<% end %>