body {
  padding-top: 100px;
  padding-bottom: 60px;
}
.navbar-text { 
  margin-top: 19px;
}
#footer p {
  padding-top: 9px;
  text-align: center;
}
.success, .error {
  position: absolute;
  left: 0;
  right: 0;
  top: 85px;
  padding: 5px;
  text-align: center;
  display: none;
}
.status img {
  height: 230px;
  width: 300px
}