<h1>News</h1>
<div class="row-fluid">
  <div class="span12">
    <p>I would like to welcome you all to my new website. I hope you enjoy my creations. If you have any interest in purchasing anything, please contact me directly. I will have prints available in addition to the originals in the near future. I would like to take this chance to thank my husband for his help and support in this venture. I would like to extend a big Thank You to <a href="http://www.amazon.com/Alan-Harris/e/B006GVYEEU/ref=ntt_athr_dp_pel_1">Alan Harris</a> for his technical support and advise in creating this website. </p>
    <p>Please check the calendar below from time to time. I will be updating it with art shows of interest and ones I will be attending. The first one of note is my Master Thesis Art Exhibit on July 13.</p>
    <hr/>
  </div>
  <div class="span11">
    <div id="calendar">
      <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=0qsghmj4im04p8l7nd57uv3l28%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="1000" height="800" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>