<div id="footer">
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <p>Copyright &copy; <%= Time.now.year %> Beth Patterson. All rights reserved.</p>  
    </div>
  </div>
</div>